.modal-close {
  position: absolute;
  right: 6px;
  top: 13px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}

.modal-sizer {
  position: absolute;
  right: 31px;
  top: 13px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}
